/* Reset geral de estilo para garantir consistência entre os navegadores */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  height: 100%;
  line-height: 1.5;
}

body {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  background-color: #ebecee;
}

/* Desabilitando listas, links e estilos básicos para controle total */
ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

input,
button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Configurações para elementos HTML5 no caso de navegadores antigos */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Remover as bordas e estilos indesejados de formulário */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
